body {
    color: #fff;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
      background:url(/img/Supermercado.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
  
  
  
    .form-wrapper {
        width: 330px;
        height: 1060px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: rgba(224, 233, 219, 0.87);
        padding: 15px 25px;
        border-radius: 5px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6), inset 0px 1px 0px rgba(255, 255, 255, 0.04);
      }
  
  .form-item {
  width:100%;
  }
  
  
  .inline {
    margin-right: 30px; 
              vertical-align: middle; 
  }
  
  
  h3{
    font-size: 22px;
    font-weight: 640;
    margin-bottom: 10px;
    color: #201e1e;
    padding:6px;
    font-family:'sans-serif','helvetica';
  }

  
  select {
    background:transparent;
    padding: 2px;
    font-size: 14px;
    border: 1px solid #636161;
    border-radius: 5px;
  }

  select option {
    font-size: 16px;
    background-color: rgba(146, 146, 146, 0.822);
    color: #333;
  }

  .form-item label {
    background:transparent;
    color: #000000;
    margin-top:11px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    height: 49px;
    padding: 0 16px;
    width: 100%;
    border: none;
    padding-left: 25px;
  }
  
  .form-item input {
    border: ridge;
    background:transparent;
    color: #000000;
    margin-top:5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    height: 49px;
    padding: 0 16px;
    width: 100%;
    padding-left: 55px;
  
  }
  
  
  .form-item input:focus {
    
    outline: none;
    border:1.4px solid #15ca43;
  }
  
  .button-panel {
    margin-bottom: 20px;
    padding-top: 10px;
    width: 100%;
  }
  
  .button-panel .button {
    background: #2ab14b;
    border: none;
    color: #201e1e;
    cursor: pointer;
    height: 45px;
    font-family: 'helvetica','Open Sans', sans-serif;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.6s linear;
    width: 100%;
    margin-top:10px;
  }
  
  .button:hover {
    background: #2fd458;
  }
  
  .form-item input, .button-panel .button {
    border-radius: 2px
  }
  
  .reminder {
    text-align: center;
  }
  
  .reminder a {
    color:  #201e1e;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .reminder a:hover {
    color: #1b050f9d;
  }

