@charset "UTF-8";
body {
    font: 95%/1.5em'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:  #2ab14b;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 7px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.nav-item {
    font-size: 20px;
    margin-right: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.Cuenta-lado {
    margin-left: auto; 
}
.carrito-lado {
    margin-left: auto; 
}

.estilo-boton {
    padding: 10px 20px;
    background-color: #e7e7e7;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .estilo-boton:hover {
    background-color: #dddddde5;
  }

  .estilo-boton:active {
    background-color:#ddd;
  }

.carousel {
    overflow-x: hidden; 
  }
  
  .carousel-inner {
    display: flex; 
    animation: deslizar 8s infinite;
  }
  
  .carousel img {
    max-width: 50%; 
    height: auto;
    margin-right: none; 
  }
  
  @keyframes deslizar {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-60%); 
    }
  }
  
  .container {
    text-align: center; 
}


.Contenido {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-wrap: wrap;
}

.product-box {
    flex: 1 1 auto; /* Establece un comportamiento flexible para el tamaño */
    max-width: 300px; /* Establece un ancho máximo */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; 
}

.product-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.details {
    padding: 10px;
    text-align: center;
}


.product-box h5 {
    margin: 0 0 2%;
}

.product-box span {
    display: block;
}

.product-box a {
    color: #007bff;
    text-decoration: none; 
}

.product-box a:hover {
    text-decoration: underline;
}

.footer-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #2ab14b; 
    padding: 20px; 
}

.redes-sociales-lista {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex;
}

.redes-sociales-lista li {
    margin-right: 20px; 
}

.redes-sociales-inferior {
    color: white;
}
